In [34]:
print("Hello", "IS5,", "Chuc cac ban hoc tot")

Hello IS5, Chuc cac ban hoc tot

In [3]:
name = input()
print("Hello", name)

 Duc

Hello Duc

In [1]:
a = 5
b = 2
c = a + b
d = a - b
e = a * b
f = a / b
g = a // b 
h = a % b
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)

7
3
10
2.5
2
1

In [26]:
line = input()
a1,b1,c1,a2,b2,a3 = map(float, line.split())
TB=((a1+b1+c1)+(a2+b2)*2+a3*3)/10
print(f'{TB:.1f}')
a1,b1,c1,a2,b2,a3 = map(int, input().split())
TB=((a1+b1+c1)+(a2+b2)*2+a3*3)/10
print(f'{TB:.1f}')

 1 2 3 4 5 6

4.2

 1 2 3 4 5 6

4.2

In [24]:
line = input()
a,b = map(int, line.split())

a**b

 3 6

729

In [33]:
ch = input()
print(ord(ch))
print(ch.upper())

 g

103
G

In [4]:
A = ((13 ** 2) * 3) + 5 
B = 13**2*3 + 5
print(A)
print(B)

512
512

In [7]:
C = float(input())
F = 9/5*C + 32 
print(f'{F:.2f}')

 10

50.00

In [11]:
x = float(input())
T = (0.3 + 0.1)*x + x + 10
print(f'{T:.2f}')

 200

290.00

In [13]:
names = input().split()
names.reverse()
print(f"Hi {names[0]}, {names[1]} and {names[2]}.")

 Bob Alice Helen

Hi Helen, Alice and Bob.

In [23]:
h, m = map(int, input().split())
s1 = h * 3600
s2 = m * 60
print(f'{s1}, {s2}')

 1 18

3600, 1080

In [14]:
def rubik_stickers(n):
    return 6 * n * n
print(rubik_stickers(1))

6

In [24]:
a, b = map(int, input().split())
c = a * b
print(f'{c}')

 3 6

18

In [48]:
a, b = map(int, input().split())
a, b = b, a
print(a, b)

 3 6

6 3

In [8]:
n = float(input())
N = 6*n*(n-1) + 1
print(f'{N}')

 2

13.0

In [1]:
print("Spring", "Summer", "Autumn", "Winter", sep = '\n')

Spring
Summer
Autumn
Winter

In [3]:
print("  *", " ***", "*****", sep = '\n') 
print("   *\n", " ***\n", "*****\n")

  *
 ***
*****
   *
  ***
 *****

In [4]:
print("### # #   ### ###", " #  #  #   #   #", " #  #   #  #   #", " #  #  #   #   #", " #  # #    #   #", sep = '\n')

### # #   ### ###
 #  #  #   #   #
 #  #   #  #   #
 #  #  #   #   #
 #  # #    #   #

In [5]:
print("Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday", sep = '\n')

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

In [6]:
print("January", "Febuary", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December", sep = '\n')

January
Febuary
March
April
May
June
July
August
September
October
November
December

In [8]:
for i in range(10):
    print("Hello, world")

Hello, world
Hello, world
Hello, world
Hello, world
Hello, world
Hello, world
Hello, world
Hello, world
Hello, world
Hello, world